.habit-container {
  padding: 15px;
  border-bottom: 2px solid #333;
  background-color: #222;
  transition: background-color 0.3s;
}

.habit-container:hover {
  background-color: #2a2a2a;
}


.date-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.date-label {
  font-size: 1.2em;
  font-weight: bold;
  color: #1ed760;
  margin-right: 20px;
  min-width: 60px;
  /* Defina uma largura mínima adequada para a data */
  /* Alinha o texto à direita para manter a consistência */
  text-align: right;
}

.habit-button {
  background-color: #555;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  margin-left: 10px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

@media (hover: hover) {
  .habit-button:hover {
    background-color: #1ed760;
    transform: scale(1.05);
  }
}

.habit-button.active {
  background-color: #4CAF50;
}

.icon-minoxidil,
.icon-english {
  margin-right: 5px;
}

.today {
  background-color: #3a85b3;
}